.infected-nav__button
  position: absolute
  display: none


@media (max-width: $mobileVersion)
  .infected-nav__button
    display: block
    border: none
    background: url('./../../assets/img/arrow-icon.svg') no-repeat
    background-size: contain
    font-size: 0
    width: 25px
    height: 25px

  .infected-nav__button--right
    left: 46%

  .infected-nav__button--left
    left: 25.5%
    transform: rotate(180deg)