$itemMargin: 0 15px 15px

.infected-header__search
  margin: $itemMargin

.infected-header__header
  color: darkblue
  font-size: 20px
  text-align: center

.infected-header__toggle
  margin: $itemMargin


@media (max-width: $mobileVersion)
  .infected-header__header
    margin: $itemMargin