.infected-search
  display: flex
  justify-content: center
  align-items: center

  margin: 0 0 15px 15px
  padding: $infected-toggle__padding

  border: $infected-toggle__border
  border-radius: $infected-toggle__border-radius
